$backgrounds_proyectos: "bobinatesla_background.jpg","controlremoto_background.jpg","lucesneon_background.jpg","rayosx_background.jpg","wirelesslight_background.jpg" ;
body{
    margin: 0;
    font-family: Arial;
}


header{
    background-color:lightblue;
    display: flex;

    justify-content: center;
    .links{
        list-style: none;
        display: flex;
    }
}



main{

    // Se ocultan por defecto el detail y el list
    .landinglist{
        display: none;
        flex-direction: column;
        background-color: lightgreen;
        .listelement{
            display: flex;
            &:hover{
                background-color: lightcoral;
            }
        }
        
    }

    .landingdetail{
        display: none;
    }
}

footer{
    background-color: lightpink;
}

